/**Landing Page******************************************************/

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #47B5FF, #47B5FF, #B6E388, #47B5FF, #B6E388);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
}

.center-text {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: auto;
}

.center-text h1 {
  font-family: 'Pilat Wide';
  font-weight: 700;
  font-size: 20vw;
  line-height: 75%;

  color: black;
  text-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.center-text h2 {
  margin-top: 5%;
  align-self: flex-end;

  font-size: 3vw;
  font-family: 'Inter';
  font-weight: 300;
}

.center-text h3 {
  align-self: flex-start;

  font-size: 3vw;
  font-weight: 300;
}

.horizontal-button {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  border: 1px solid black;
  border-radius: 999px;

  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.horizontal-button:hover {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  background-color: rgba(255,255,255,.25);
}

/**Landing Page******************************************************/


/**Social Icons**********************************/

.icons {
  margin-right: 10px;
  align-self: flex-end;
}

.icons a {
  margin-left: 20px;

  font-size: 45px;
  color: black;
}

.icons a:hover {
  color: white;
}

/**Social Icons**********************************/


/**Nav bar**********************************************/

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  
  width: 100%;
  height: auto;
}

.nav-buttons button {
  margin: 10px 0.2vw;
  width: 12vw;
  height: 50px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.7vw;
  color: black;

  background: linear-gradient(-45deg, #47B5FF, #47B5FF, #B6E388, #47B5FF, #B6E388);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;

  box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.75);
  border-radius: 999px;
  border: 1px solid black;
}

/**Nav bar**********************************************/


/**Main Content**********************************************/

.main-content {
  padding: 2.5vw 2.5vw;
}

/**Main Content**********************************************/


/**About Section**********************************************/

.about-section {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: auto;
}

.headshot-container {
  width: 35vw;
  height:fit-content;

  border: 1px solid #47B5FF;
  border-radius: 9px;
}

.headshot-img {
  position: relative;
  max-width: 100%;
  max-height:max-content;

  right: -1.2vw;
  bottom: -1.5vw;
  border-radius: 9px;
}

.info-container {
  display: flex;
  flex-direction: column;
  
  padding-right: 6vw;
  text-align:left;
  width: 40vw;
}

.info-container p {
  width: 100%;
  font-family: 'Karla';
  line-height: 130%;
  font-size: 2vw;
  font-weight: 100;
  color: white;
}

.info-container a {
  font-family: 'Karla';
  text-decoration: none;
  line-height: 130%;
  font-size: 2vw;
  font-weight: 300;
  color:burlywood;
}

.contact-form {
  margin-top: 30px;
  border: 2px solid red;
  height: 25%;
}

/**About Section**********************************************/


/**Experience Section**********************************************/

  .experience-section {
    border: 1px solid yellow ;
    padding-top: 10px;
    height: 100vh;
  }
  

/**Experience Section**********************************************/


/**Project Section**********************************************/

.project-section {
  border: 1px solid red ;
  padding-top: 10px;
  height: 100vh;
}


/**Project Section**********************************************/