/* per-card styles */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 2.5vw 5vw;
  color: #e9e9ea;
}

.about, 
.experience-section, 
.education-section, 
.project-section,
.skills-section,
.contact-form
{
  display: flex;
  border: 1px solid yellow;
  margin-top: 15%;
  padding: 2.5vh 2.5vw;
}


/**Landing Page******************************************************/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #47B5FF, #47B5FF, #B6E388, #47B5FF, #B6E388);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
}

.center-text {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: auto;
}

.center-text h1 {
  font-family: 'Pilat Wide';
  font-weight: 700;
  font-size: 20vw;
  line-height: 75%;

  color: black;
  text-shadow: 0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.center-text h2 {
  margin-top: 5%;
  align-self: flex-end;

  font-size: 3vw;
  font-family: 'Inter';
  font-weight: 300;
}

.center-text h3 {
  align-self: flex-start;

  font-size: 3vw;
  font-weight: 300;
}

.horizontal-button {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  border: 1px solid black;
  border-radius: 999px;

  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.horizontal-button:hover {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  background-color: rgba(255, 255, 255, .25);
}

/**Landing Page******************************************************/


/**Social Icons**********************************/

.icons {
  margin-right: 10px;
  align-self: flex-end;
}

.icons a {
  margin-left: 20px;

  font-size: 45px;
  color: black;
}

.icons a:hover {
  color: white;
}

/**Social Icons**********************************/


/**Nav bar**********************************************/

nav {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;
  height: auto;
}

.nav-buttons button {
  margin: 10px 0.2vw;
  width: 12vw;
  height: 50px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.7vw;
  color: black;

  background: linear-gradient(-45deg, #47B5FF, #47B5FF, #B6E388, #47B5FF, #B6E388);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;

  box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.75);
  border-radius: 999px;
  border: 1px solid black;
}

/**Nav bar**********************************************/


/**About Section**********************************************/

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 5%;
    justify-content: space-between;
  }

  .about--headshot {
    width: 100%;
    height: 30vh;
  }

  .headshot--image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 0 21%;
    border-radius: 7px;
  }

  .about h1, .about--form h1 {
    font-weight: 500;
    font-family: 'Pilat Wide';
  }

  .about--text {
    margin: 5% 0;
    font-size: 1em;
    font-family: 'Poppins';
    line-height: 140%;
  }

  .about a {
    color: #47B5FF;
    text-decoration: none;
  }

}

/**About Section**********************************************/


/* Contact form */

.about--form {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3vw 10vw;
}

.name-and-email-inputs {    
  display: flex;
  flex-direction: column;
  width: 100%;
}

#name, #email, #message {
  width: 100%;
  padding: 2%;
  margin: 4% 0 0 0;
  color: #e9e9ea;

  background-color: transparent;
  border: none; 
  border-bottom: 1px solid #e9e9ea;
}

#message {
  height: 30%;

  border-radius: 5px;
  border: 1px solid #e9e9ea;
  resize: none;
}

#name:focus, #email:focus, #message:focus {
  background-color: #2c2c2c;
  outline: none;
  border-radius: 5px;
  border-color: #47B5FF;
}

.submit {
  width: 100%;
  height: 20%;

  margin-top: 4%;
  border: 1px solid #e9e9ea;
  letter-spacing: .5vw;
  font-family: 'Pilat Wide';
  color: #e9e9ea;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.25s linear;
}

.submit:active, .submit:focus, .submit:hover {
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  background: linear-gradient(-45deg, #47B5FF, #47B5FF, #B6E388, #47B5FF, #B6E388);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;

  border: 1px solid black;
  color: black;
}

.submit:hover {
  cursor: pointer;
}

/* Contact form */


/**Experience Section**********************************************/

@media only screen and (max-width: 768px) {
  .experience-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .experience-section h1, .skills h1, .education-section h1,
  .project-section h1 {
    font-weight: 700;
    font-size: 3em;
    font-family: 'Pilat Wide';
  }

  .job-title, .edu-title {
    padding-top: 1.5vh;
    font-family: 'Karla';
    font-size: 1.2em;
  }

  .job-duration, .edu-subtitle, .edu-duration {
    padding-top: 0.5vh;
    font-family: 'Karla';
    font-weight: 300;
    font-size: 1em;
  }

  .edu-duration {
    padding: 0;
  }

  .edu-bullets, .job-bullets {
    padding-top: 1vh;
    padding: 1vh 5% 0;
  }

  .edu-bullets li, .job-bullets li {
    font-family: 'Karla';
    font-size: 1em;
  }

  li::marker {
    color: #47B5FF;
  }
}

/**Experience Section**********************************************/


/**Skills Section**********************************************/

@media only screen and (max-width: 768px) {
  .skills h4 {
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    font-family: 'Karla';
    font-size: 1.2em;
  }

  .skills ul, .details ul {
    list-style-type: none;
  }

  .skills li, .details li {
    border: 1px solid white;    
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 0.5% 0.75%;
    border-radius: 5px;
    display: inline-block;

    font-family: 'Karla';
    font-size: 1em;

    border-color: #47B5FF;
    box-shadow: 0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
  }

  .skills--backend li {
    border-color: #47B5FF;
    color: #47B5FF;
  }

  .skills--frontend li {
    border-color: #50C878;
    color: #50C878;
  }

  .skills--databaseServer li {
    border-color: yellow;
    color: yellow;
  }

  .skills--software li {
    border-color: coral;
    color: coral;
  }
}

/**Skills Section**********************************************/


/**Education Section**********************************************/

@media only screen and (max-width: 768px) {

}

.education-section {
  border: 1px solid yellow;
  margin-top: 15%;
  padding: 2vh 2.5vw;
}

/**Education Section**********************************************/


/**Projects Section**********************************************/

@media only screen and (max-width: 768px) {
  .project-section h1 {
    margin-bottom: 40px;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
}

/**Projects Section**********************************************/

/**Individual Project**********************************************/

@media only screen and (max-width: 768px) {
  .img-container {
    width: 100%;
  }

  .img-container img {
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    width: 100%;
  }

  .project {
    padding-bottom: 25%;

    display: flex;
    flex-direction: column;
  }

  .base-info {
    margin-top: 1vh;
    height: auto;

    display: flex;
    justify-content: space-between;
  }

  .base-info h3 {
    font-weight: 300;
    font-size: 1.5em;
  }

  .base-info a i {
    color: white;
    font-size: 1.5em;
  }

  .base-info button {
    margin-top: 5px;
    padding: 5px 5px;
    justify-self:end;

    color: rgba(255, 255, 255, .65);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;

    letter-spacing: .2vw;
    font-family: 'Pilat Wide';
    font-weight: 300;
  }

  .base-info button i {
    margin-left: 5px;
  }

  .details {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    display: flex;
    flex-direction: column;
  }

  .description {
    padding: 2vh 0;

    font-size: 1em;
    font-weight: 300;
    line-height: 120%;
  }

  .list-title {
    padding: 2vh 0 10px;
  }
}

/**Individual Project**********************************************/