/************************************************************/

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #47B5FF, #47B5FF, #B6E388, #47B5FF, #B6E388);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
}

.center-text {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: auto;
}

.center-text h1 {
  font-family: 'Pilat Wide';
  font-weight: 700;
  font-size: 20vw;
  line-height: 75%;

  color: black;
  text-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.center-text h2 {
  margin-top: 5%;
  align-self: flex-end;

  font-size: 3vw;
  font-family: 'Inter';
  font-weight: 300;
}

.center-text h3 {
  align-self: flex-start;

  font-size: 3vw;
  font-weight: 300;
}

.horizontal-button {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  border: 1px solid black;
  border-radius: 999px;

  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.horizontal-button:hover {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  background-color: rgba(255,255,255,.25);
}

.icons a {
  font-size: 45px;
  color: black;
}

.icons a:hover {
  color: white;
}

.header {
  display: flex;
  justify-content:space-between;
  align-content: center;
  
  width: 100%;
  height: 50px;
}