* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  
  font-family: 'Inter', 'Karla', 'Pilat Wide', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection{
  border: 1px solid #fff;
  background-color: rgba(255,255,255,.3);
}

body {
  background-color: #1e1e1e;
  overflow: overlay;
  box-shadow:
		inset 10px 0px 10px -7px rgba(19, 19, 19, 0.5),
		inset -10px 0px 10px -7px rgba(19, 19, 19, 0.5);
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(255, 255, 255, 0.5);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.5em;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 3px solid transparent;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

  *::-webkit-scrollbar-corner {

  }
