* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Pilat Wide', 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #28272c;
}

.nav-buttons {
  position: absolute;
  display: flex;
  margin-left: 5px;
  height: 100%;
  bottom: 0;
  left: 0;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
